body.login{
    background-color:darkgrey;
    box-shadow: 2px,2px,16px rgb(105,105,105);
}
.class-title{
    margin: 3px;
}
.h3{
    position: justify-content-center;
}
.card-border{
    box-shadow: 2px,2px ,16px rgba(0,0,0,1);
}

.box{
    padding: 5px;
}
.btn{
    display: block;
}